
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --white: #fff;
    --top-border-c: hsl(0, 5%, 88%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    overflow: hidden;
    height: 100%;
}

main::before {
    content: url("images/bg-pattern-top.svg");
    position: fixed;
    left: -185%;
    top: -50%;
}

main::after {
    content: url("images/bg-pattern-bottom.svg");
    position: fixed;
    right: -185%;
    top: 50%;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--dark-cyan);
    color: var(--dark-gray);
}

section {
    z-index: 2;
    box-shadow: 3px 3px 50px rgb(71, 70, 70);
    border-radius: 10px;
}

/* rgb(71, 70, 70) */

.top {
    padding: 0;
    margin: 0;
    position: relative;
}

.top svg {
    border-radius: 10px 10px 0 0;
    display: block;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: var(--white);
}

.middle .victor {
    display: block;
    border-radius: 50%;
    border: 5px solid var(--white);
    transform: translateY(-50%);
}

.middle p {
    transform: translateY(-170%);
}

.bottom {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 22px 0px;
    background-color: var(--white);
    border-top: 1px solid var(--top-border-c);
}

.numbers, .name {
    font-weight: 700;
    color: var(--desaturated-blue);
    font-size: 18px;
}

.age {
    font-size: 18px;
}

.place {
    font-size: 15px;
}

.description {
    padding-top: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}


@media only screen and (min-width: 376px) and (max-width: 450px) {
    main::before {
        left: -160%;
    }

    main::after {
        right: -160%;
    }
}

@media only screen and (min-width: 451px) and (max-width: 550px) {
    main::before {
        left: -125%;
    }

    main::after {
        right: -125%;
    }
}

@media only screen and (min-width: 551px) and (max-width: 700px) {
    main::before {
        left: -85%;
    }

    main::after {
        right: -85%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    main::before {
        left: -60%;
    }

    main::after {
        right: -60%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1240px) {
    main::before {
        left: -30%;
    }

    main::after {
        right: -30%;
    }
}

@media only screen and (min-width: 1241px) and (max-width: 1440px) {
    main::before {
        left: -20%;
    }

    main::after {
        right: -20%;
    }
}

@media only screen and (min-width: 1441px) {
    main::before {
        left: 0%;
    }

    main::after {
        right: 0%;
    }
}






